.num-button {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: #fafbfe;
  border: 1px solid #e2e8f0;
  cursor: pointer;
  color: #64748b;
}

.active-button {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: #e2e8f0;
  border: 1px solid #60a5fa;
  cursor: pointer;
  color: #64748b;
}
